.introduction
{
color:aqua;
text-shadow: 14px 14px 6px black;
}

p
{
padding-top:-10px;
text-align: right;
}

div{
background:url("img/sky.jpg") fixed;
}

@font-face {
font-family: 'MaSuperPolice';
src: url('MaSuperPolice.eot');
}

body
{

border-top: 4px aqua dotted;
border-bottom: 6px navy double;
border-left: 5px teal outset;
border-right: 4px olive dashed;

border-radius: 15px 10px 15px 10px;

box-shadow: 6px 6px 6px blue;

padding: 0px 10px 0px 10px;

margin-top: 50px;
}

aside
{
    position: absolute;
    width: 235px;
    height: 730px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 5px;
}


.tuto
{
text-shadow: 14px 14px 16px red;
padding: 20px 20px 0px 10px;
}

h1
{
text-decoration:blink;
text-decoration:underline;
color: teal;
text-align: center;
padding-bottom:40px;
}

h2
{
text-decoration:blink;
text-decoration:underline;
color: teal;
}

@font-face {
    font-family: 'cac_champagneregular';
    src: url('cac_champagne-webfont.eot');
    src: url('cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('cac_champagne-webfont.woff2') format('woff2'),
         url('cac_champagne-webfont.woff') format('woff'),
         url('cac_champagne-webfont.ttf') format('truetype'),
         url('cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2 /* Utilisation de la police qu'on vient de définir sur les titres */

{

    font-family: 'cac_champagneregular', Arial, serif;
}

.francis
{
text-align: center;
}

.brice
{
   padding-left: 300px;
}

#tweet, #mes_photos, #mes_amis
{
    display: inline-block;
    vertical-align: right;
    margin-left: 120px;
    text-align: bottom;
}

#tweet
{
    width: 14.5%;
}

#mes_photos
{
    width: 14.75%;
}

#mes_amis
{
    width: 12%;
}
